/*Time to practice your CSS. Your goal is to make the form look like this.

Tips
Do not put the CSS in main.css. 
Create another module whose responsibility is to style the request form.
Use flex-direction: column on the wrapper <div> elements.
Copy the button CSS from a previous project and 
choose a background color and font color of your choice.
Make the font size of the labels slightly larger than the default size.
*/

.field {
    flex-direction: column;
    
}
/* I dont think the label class is working */
.label {
    font-size: 16px;
}

#orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(227, 72, 72);
    color: lightgoldenrodyellow;
    font-size: 1rem;
}